/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import 'normalize';
@import 'bootstrap-sprockets';
@import 'bootstrap';

.cow-image {
  display: block;
  margin: 0 auto;
  width: 50%;
  float: center;
}

.navbar {
  position: relative;
  min-heaight: $navbar-height;
  margin-bottom: $navbar-margin-bottom;
  border: 1px solid transparent;
  background-color: #261D1D;

  @include clearfix;

  @media (min-width: $grid-float-breakpoint) {
    border-radius: $navbar-border-radius;
  }
}
.navbar a {
   color: #E0DAD0;
   padding-right: 10px;
}

#search-bar {
  padding-top: 15px;
  display: block;
  margin: 0 auto;
  width: 50%;
  float: center;

  input[type="text"], name {
    width: 70%;
  }
}

.content {
  padding: 20px;

  width: 50%;
    display: inline;
    float: center;
    margin: 0 auto;
    img {
      height: 800px;
      padding-right: 10px;
    }
    li {
      list-style-type: none;
    }




    float: center;
    text-align: center;


}


